---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{SITE_TITLE}</title>
		<meta http-equiv="refresh" content="0;url=/en/" />
		<meta name="title" content={SITE_TITLE} />
		<meta name="description" content={SITE_DESCRIPTION} />
	</head>
	<body></body>
</html>
