---
interface Props {
  title: string;
  provider: string;
  dates: string;
}

const { title, provider, dates } = Astro.props;
---

<li class="print:mb-0.5">
  <p class="text-sm text-muted">
    <span class="font-semibold text-primary/90">{title}</span> - {provider} - {dates}
  </p>
</li>
