---
import Tag from './Tag.astro';

interface Props {
  title: string;
  period: string;
  description: string;
  technologies: string[];
}

const { title, period, description, technologies } = Astro.props;
---

<li class="mb-3 print:mb-1">
  <div class="flex justify-between text-sm print:text-xs">
    <div class="font-semibold">{title}</div>
		<div class="font-mono text-muted">{period}</div>
  </div>
	<!-- Tag chips (screen only) -->
	<div class="print:hidden flex flex-wrap gap-1 my-2">
		{technologies.map(tag => <Tag text={tag} />)}
	</div>
  <p class="text-muted text-xs font-mono mt-0.5">{description}</p>
</li>
